@model iottie.Models.DashboardModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    int count = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link href="~/css/Dashboard/dashboard.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

    @using (Html.BeginForm("AddNewProject", "Home", FormMethod.Post, new { id = "addNewProjectForm" }))
    {
        <button type="button" id="newBtn">ADD NEW PROJECT</button><br />
        <table>
            <tr>
                <th>NO.</th>
                <th>TITLE</th>
                <th>STATUS</th>
                <th>CREATED BY</th>
                <th>ASSIGNEE</th>
                <th>DEADLINE</th>
                <th>PRIORITY</th>
                <th>DETAIL</th>
            </tr>

        @foreach (var row in Model.dashboardList)
        {
            <tr>
                <td>@count</td>
                <td>@row.title</td>
                <td>@row.status</td>
                <td>@row.createdBy</td>
                <td>@row.assignee</td>
                <td>@row.deadline</td>
                <td>@row.priority</td>
                <td>
                    <button type="button" id="detailBtn" onclick="isDetailBtnClicked()">SEE DETAIL</button>
                    <input type="hidden" name="idnum" value=@row.idnum>
                </td>

            </tr>

            count++;
        }
        </table>

    }
    <script>
        $(document).ready(function () {
            $('#newBtn').click(function () {
                $('#addNewProjectForm').submit();
            });
        });

        function isDetailBtnClicked() {
            $('#addNewProjectForm').submit();
        }
    </script>
</body>
</html>
