@model Domain.Entity.DashboardEntity
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string addChatListURL = Url.Action("addChatList", "Home");
    string username = ViewBag.username;
    bool isDev = ViewBag.isDev;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div style="color:black; text-align: center; font-weight: bold; font-family: sans-serif; font-size: 30px; margin-top:30px;"> Detail</div>
    @if (username == Model.createdBy || isDev == true)
    {
        <button type="button" id="removeBtn" onclick="isRemoveBtnClicked()">REMOVE</button>
        <button type="button" id="editBtn" onclick="isEditBtnClicked()">EDIT</button><br />

    }

    @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { id = "editForm" }))
    {
        <input type="hidden" name="idnum" value="@Model.idnum">
        <input type="hidden" name="title" value="@Model.title">
        <input type="hidden" name="status" value="@Model.status">
        <input type="hidden" name="assignee" value="@Model.assignee">
        <input type="hidden" name="createdBy" value="@Model.createdBy">
        <input type="hidden" name="deadline" value="@Model.deadline">
        <input type="hidden" name="priority" value="@Model.priority">
    }

    @using (Html.BeginForm("Remove", "Home", FormMethod.Post, new { id = "removeForm" }))
    {
        <input type="hidden" name="idnum" value="@Model.idnum">
    }

    <table>
        <tr>
            <th>TITLE</th>
            <th>STATUS</th>
            <th>CREATED BY</th>
            <th>ASSIGNEE</th>
            <th>DEADLINE</th>
            <th>PRIORITY</th>
        </tr>
        <tr>
            <td>@Model.title</td>
            <td>@Model.status</td>
            <td>@Model.createdBy</td>
            <td>@Model.assignee</td>
            <td>@Model.deadline.ToString("yyyy-MM-dd")</td>
            <td>@Model.priority</td>
        </tr>
    </table>

    <table>
        <tr>
            <th style="text-align:center;" colspan="2">CONVERSATION</th>
        </tr>
        @foreach (var row in Model.chatList)
        {
            <tr>
                <td style="width: 120px;">@row.writtenBy : </td>
                <td>@row.body</td>
            </tr>
        }
    </table>
    <input type="text" class="inputBox" id="chatBox" placeholder="Type and press enter to post" style="margin-left: 5%; margin-top: 20px; width: 89%; border-color: black"><br />
    <button type="button" class="submitBtn" style="margin-top: 15px; margin-left: 40%;" onclick="isBackBtnClicked()">BACK</button><br />
    <a id="backBtn" href="/Home/Dashboard"></a>

    <script>
        $(document).ready(function () {
            $('#chatBox').keypress(function (e) {
                var keycode = e.keyCode
                if (keycode == 13) {
                    addChatList();
                }
            });
        });

        function addChatList() {

            var list_idnum = '@Model.idnum'
            var writtenBy = '@username';
            var body = $('#chatBox').val();

            $.ajax({
                method: 'GET',
                url: '@addChatListURL',
                data: { list_idnum: list_idnum, writtenBy: writtenBy, body: body },
                cache: false,
                success: function (data) {
                    location.reload();
                }
            });
        }

        function isEditBtnClicked() {
            $('#editForm').submit();
        }

        function isRemoveBtnClicked() {
            var choice = confirm("Do you want to remove this list?");
            if (choice) {
                $('#removeForm').submit();
            }
        }

        function isBackBtnClicked() {
            window.location = document.getElementById('backBtn').href
        }

    </script>
</body>
</html>